
// colors
  $green: rgb(42, 155, 32);
  $red: rgb(134, 22, 22);
  $light-blue: #4098ca;
  $beige: rgb(233, 234, 235);

  $black: #000;
  $light-gray: rgb(240,240,240);
  $gray: rgb(212, 212, 212);
  $dark-gray: rgb(134, 134, 134);


  $white: #fff;

  $text-color: #000;
  $background-color: #ebebebeb;

// shadows
  $shadow: 0 0 15px 7px rgba(0,0,0, .3);
  $light-shadow: 0px 10px 10px -5px rgb(0, 0, 0, .3);